.cart-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.cart__status {
  display: block;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 80px;
}